.videoSection {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-9)
  );
  border-top: 1px solid var(--app-shell-border-color);
  border-bottom: 1px solid var(--app-shell-border-color);
}
